body {
    background: linear-gradient(to bottom, rgba(0, 35, 57, 1), rgb(42, 83, 109));
    background-repeat: no-repeat;
}

/* FONTES */
h1,
h2 {
    font-family: "Inter", sans-serif;
    font-size: 25px;
    color: white;
}

h2 {
    color: rgba(0, 35, 57, 1);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
    line-height: 0px;
}

p {
    font-family: "Inter", sans-serif;
    text-align: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
}

/* BOTÕES */
.insta, .face {
    /* CAIXA */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.24);
    background-color: #fff;
    border-radius: 60px;
    padding: 15px 0;
    border: 0px;
    width: 100%;
    /* FONTE */
    font-family: "Inter", sans-serif;
    color: rgba(10, 29, 62, 1);
    text-align: start;
    font-weight: bold;
    font-size: 20px;
    /* ICON */
    background-position: 15px center;
    background-repeat: no-repeat;
    background-size: 25px;
    padding-left: 60px;
}

.insta {
    /* ICON */
    background-image: url('media/insta-blue.png');
}

.face {
    /* ICON */
    background-image: url('media/face-blue.png');
}

.insta:hover {
    background-image: url('media/instagram2.png');
    background-color: rgba(0, 35, 57, 1);
    transition: 0.3s ease;
    color: white;
}

.face:hover {
    background-image: url('media/facebook.png');
    background-color: rgba(0, 35, 57, 1);
    transition: 0.3s ease;
    color: white;
}

#infos {
    flex-direction: column;
    display: flex;
    gap: 20px;
}

#club-info {
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    display: flex;
    height: 100%;
    gap: 20px;
}

#img-club {
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.425);
    border-radius: 20px;
    margin-top: 10px;
    width: 100%;
}

#txt-club {
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.425);
    background-color: rgb(236, 236, 236);
    border-radius: 25px;
    padding: 15px 20px;
    text-align: left;
}

#social {
    flex-direction: column;
    display: flex;
    gap: 10px;
}

footer,
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

@media (min-width: 768px) {
    #img-club {
        width: 400%;
    }

    #club-info {
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }

    #txt-club {
        padding: 20px 25px;
    }
}