/* jts a nos */
#box-db {
    margin-top: 20px;
}

/* caixas de clube */
#club-box {
    background: linear-gradient(to left, rgba(0, 35, 57, 1), rgb(42, 83, 109));
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.425);
    transition: transform 0.3s ease;
    flex-direction: column;
    border-radius: 25px;
    margin: 20px 0px;
    padding: 15px;
    display: flex;
}

#infos {
    flex-direction: row;
    display: flex;
    gap: 20px;
}

#logo-club {
    border-radius: 20px;
    width: 30%;
    height: 30%;
}

#txt {
    flex-direction: column;
    display: flex;
    /* FONTE */
    color: rgba(255, 255, 255, 0.685);
    font-family: "Inter", sans-serif;
    text-align: left;
    font-size: 15px;
}

button {
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.425);
    transition: transform 0.3s ease;
    border-radius: 15px;
    margin-top: 10px;
    padding: 8px;
    border: 0px;
    /* FONTE */
    font-family: "Inter", sans-serif;
    color: rgba(0, 35, 57, 1);
    font-weight: bold;
    font-size: 15px;
}

button:hover, #club-box:hover  {
    transform: scale(1.01);
}

/* FONTES */
span {
    font-family: "Inter", sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: white;
    margin: 10px;
}

h1 {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.274);
    font-family: "Inter", sans-serif;
    color: rgba(0, 35, 57, 1);
    font-size: 25px;
}

h2 {
    font-family: "Inter", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 0px;
}

p {
    font-family: "Inter", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 15px;
    margin: 0px;
}

a {
    font-family: "Inter", sans-serif;
    color:  rgb(25, 104, 18);
    text-decoration: none;
    font-size: 13px;
}

/* Ajustes para telas grandes */
@media (min-width: 768px) {
    #clubes, #clubes2 {
        justify-content: space-between;
        display: flex;
        margin: 20px 0px 0px 0px;
        width: 100%;
        gap: 20px;
    }

    #clubes2 {
        margin-bottom: 40px;
    }

    #club-box {
        margin: 0px;
        width: 100%;
    }

    #infos {
        word-wrap: break-word;
        gap: 20px;
    }

    #logo-club {
        height: 90px;
        width: 90px;
    }
}