/* CORPO */
html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(199, 199, 199, 1);
    transition: margin-top 0.3s ease;
    margin: 80px 4% 30px 4%;
    text-align: center;
}

/* CABEÇALHO */
header {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.274);
    transition: transform 0.3s ease-in-out;
    background-color: rgba(0, 35, 57, 1);
    position: fixed;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
}

#back,
#empty {
    transition: transform 0.3s ease;
    flex: 0 0 auto;
    width: 20px;
}

#back:hover {
    transform: scale(1.3);
}

#top-info {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    display: flex;
}

#h-content {
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    margin: 0 auto;
    display: flex;
    width: 85%;
}

#h-txt {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    text-align: left;
    font-size: 15px;
    color: white;
    display: flex;
}

#h-icon {
    padding-right: 25px;
    width: 40px;
}

#menu {
    cursor: pointer;
    display: block;
    width: 30px;
}

body.menu-open {
    transition: margin-top 0.3s ease;
    margin-top: 140px;
}

/* CAIXA */
.box-db {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    display: flex;
}

#box-db {
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.425);
    background: rgba(0, 35, 57, 1);
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    border-radius: 25px;
    padding: 20px;
    /* FONTE */
    font-family: "Inter", sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    color: white;
}

.ImputBox {
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.479);
    background-color: rgba(234, 234, 234, 1);
    margin: 0px 0px 15px 0px;
    border-radius: 60px;
    padding: 15px;
    padding-left: 50px;
    border: 0px;
    cursor: text;
    /* FONTE */
    font-family: "Poppins", sans-serif;
    color: rgba(0, 35, 57, 1);
    font-size: 15px;
}

#enviar {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);
    transition: transform 0.3s ease;
    border-radius: 60px;
    text-align: center;
    margin: 0 auto;
    display: block;
    padding: 10px;
    border: 0px;
    width: 50%;
}

#enviar:hover {
    transform: scale(1.05);
}

/* Ícones */
#nome {
    background-image: url('media/pessoa.png');
    background-position: 15px center;
    background-repeat: no-repeat;
    background-size: 25px;
    margin-top: 10px;
}

#email {
    background-image: url('media/email.png');
    background-position: 15px center;
    background-repeat: no-repeat;
    background-size: 25px;
}

#phone {
    background-image: url('media/phone.png');
    background-position: 15px center;
    background-repeat: no-repeat;
    background-size: 25px;
}

#mensagem {
    background-image: url('media/mensagem.png');
    background-position: 15px center;
    background-repeat: no-repeat;
    background-size: 25px;
}

/* TOPICOS */
#topicos {
    background-color: rgba(0, 35, 57, 1);
    transition: max-height 0.2s ease-out;
    flex-direction: column;
    position: absolute;
    text-align: center;
    overflow: hidden;
    display: flex;
    max-height: 0;
    width: 100%;
    top: 100%;
}

#topicos.show {
    max-height: 500px;
}

#topicos a {
    font-family: "Inter", sans-serif;
    color: rgb(233, 233, 233);
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    padding: 15px;
}

#midias {
    justify-content: center;
    width: 20px;
}

/* FOOTER */
footer,
a {
    font-family: "Inter", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 13px;
}

/* Para telas grandes (desktop) */
@media (min-width: 768px) {
    body {
        margin: 150px 7% 30px 7%;
    }

    #topicos {
        background-color: rgb(42, 83, 109);
        justify-content: center;
        flex-direction: row;
        position: relative;
        overflow: visible;
        max-height: none;
        display: flex;
        top: initial;
    }

    #topicos a {
        transition: transform 0.5s ease;
        margin-top: 5px;
        padding: 9px;
    }

    #topicos a:hover {
        transform: scale(1.05);
    }

    #menu {
        visibility: hidden;
    }

    /* CAIXA */
    .box-db {
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin-top: 20px;
        display: flex;
    }

    #box-db {
        box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.425);
        background: rgba(0, 35, 57, 1);
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        border-radius: 25px;
        padding: 20px;
        /* FONTE */
        font-family: "Inter", sans-serif;
        font-weight: bold;
        text-align: center;
        font-size: 25px;
        color: white;
    }
}