/* CORPO */
body {
    background-color: rgba(199, 199, 199, 1);
    transition: margin-top 0.3s ease;
    margin: 90px 7% 30px 7%;
    text-align: center;
}

/* CABEÇALHO */
header {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.274);
    transition: transform 0.3s ease-in-out;
    background-color: rgba(0, 35, 57, 1);
    position: fixed;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
}

#h-content {
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    margin: 0 auto;
    display: flex;
    width: 85%;
}

#h-txt {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    text-align: left;
    font-size: 15px;
    color: white;
    display: flex;
}

#h-icon {
    padding-right: 25px;
    width: 40px;
}

#menu {
    cursor: pointer;
    display: block;
    width: 30px;
}

body.menu-open {
    transition: margin-top 0.3s ease;
    margin-top: 140px; 
}

/* TOPICOS */
#topicos {
    background-color: rgba(0, 35, 57, 1);
    transition: max-height 0.2s ease-out;
    flex-direction: column;
    position: absolute;
    text-align: center;
    overflow: hidden;
    display: flex;
    max-height: 0;
    width: 100%;
    top: 100%;
}

#topicos.show {
    max-height: 500px;
}

#topicos a {
    font-family: "Inter", sans-serif;
    color: rgb(233, 233, 233);
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    padding: 15px;
}

/* Para telas grandes */
@media (min-width: 768px) {
    #topicos {
        background-color: rgb(63, 80, 117);
        transition: margin-top 0.5s ease;
        justify-content: center;
        flex-direction: row;
        position: relative;
        display: flex;
        top: initial;
    }

    #topicos a {
        transition: transform 0.5s ease;
        padding: 8px;
    }

    #topicos a:hover {
        transform: scale(1.05);
    }
    
}


/* FONTES */
span {
    font-family: "Inter", sans-serif;
    font-weight: normal;
    color: black;
}

h1 {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.274);
    font-family: "Inter", sans-serif;
    color: rgba(0, 35, 57, 1);
    font-size: 25px;
}

h2 {
    font-family: "Inter", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 200;
    font-size: 18px;
}

p {
    font-family: "Inter", sans-serif;
    color: rgb(233, 233, 233);
    font-weight: 200;
    text-align: left;
    font-size: 15px;
    margin-top: 8px;
}

a {
    font-family: "Inter", sans-serif;
    color: rgb(233, 233, 233);
    font-weight: 200;
    text-align: left;
    font-size: 15px;
}

/* CAIXAS AZUL / SLIDE */
#info-b {
    justify-content: space-between;
    scroll-snap-type: x mandatory; 
    margin-top: 25px;
    overflow-x: auto; 
    display: flex;
    gap: 20px;
}

#info-b::-webkit-scrollbar {
    display: none; 
}

#box-b1, #box-b2, #box-b3 {
    background: rgba(49, 83, 104, 1);
    scroll-snap-align: start;
    margin-bottom: 25px;
    border-radius: 25px;
    flex: 0 0 28%; 
    padding: 20px;
    /*FONTE TITULO*/
    font-family: "Inter", sans-serif;
    font-weight: bold;
    text-align: left;
    font-size: 18px;
    color: white;
}

@media (max-width: 768px) {
    #info-b {
        overflow-x: scroll;
        display: flex;
    }

    #box-b1, #box-b2, #box-b3 {
        flex: 0 0 80%;
    }
}

/* BOTÕES AZUL / SLIDE */
#Expandir1, #Expandir2, #Expandir3 {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.274);
    background-color: rgba(239, 239, 239, 1);
    transition: transform 0.3s ease;
    color: rgba(49, 83, 104, 1);
    border-radius: 13px;
    cursor: pointer;
    font-size: 15px;
    padding: 10px;
    width: 100%;
    border: 0px;
}

#Expandir1:hover, #Expandir2:hover, #Expandir3:hover {
    transform: scale(1.05);
}

/* IMAGENS AZUL / SLIDE */
#img-b1, #img-b2, #img-b3 {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);
    border-radius: 20px;
    margin-bottom: 15px;
    width: 100%;
}

/* CAIXA CONHEÇA */
#box-cnc {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.459);
    background: rgba(49, 83, 104, 1);
    padding: 20px 20px 10px 20px;
    flex-direction: column;
    border-radius: 25px;
    margin-top: 20px;
    display: flex;
}

/* TEXTO CONHEÇA */
#txt-cnc {
    font-family: "Inter", sans-serif;
    color: rgb(167, 212, 240);
    margin: 5px 0 0 0;
    font-weight: bold;
    text-align: left;
    font-size: 25px;
    display: block;
}

/* IMAGENS CONHEÇA */
.img-glr {
    aspect-ratio: 5 / 3;
    border-radius: 20px;
    object-fit: cover; 
    max-width: 600px;
    height: auto; 
    width: 100%;
}

/* BOTÃO CONHEÇA */
#ac-btn {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);
    transition: transform 0.3s ease;
    border-radius: 100%;
    margin-right: 8px;
    cursor: pointer;
    width: 30px;
}

#ac-btn:hover {
    transform: scale(1.2);
}

#actions {
    justify-content: flex-start;
    margin-top: 15px;
    display: flex;
}

/* Ajustes para telas grandes */
@media (min-width: 768px) {
    #box-cnc {
        flex-direction: row;
        align-items: flex-start;
    }

    #txt-cnc {
        margin: 0 30px 0 30px;
        width: 90%;
    }

    .img-glr {
        margin-bottom: 0px;
        width: 100%;
        max-width: none;
    }

    #actions {
        margin-top: 10px;
        width: 100%;
    }

    #teste {
        flex-direction: column;
        display: flex;
        padding: 0px;
        width: 100%;
        margin: 0px;
    }
}